[submodule "Submodules/Virtual-TreeView"]
	path = Submodules/Virtual-TreeView
	url = git@github.com:Virtual-TreeView/Virtual-TreeView.git
[submodule "Submodules/SynEdit"]
	path = Submodules/SynEdit
	url = git@github.com:SynEdit/SynEdit.git
[submodule "Submodules/dwscript"]
	path = Submodules/dwscript
	url = git@bitbucket.org:egrange/dwscript.git
[submodule "Submodules/FastMM4"]
	path = Submodules/FastMM4
	url = git@github.com:pleriche/FastMM4.git
[submodule "Submodules/mORMot"]
	path = Submodules/mORMot
	url = git@github.com:synopse/mORMot.git
[submodule "Submodules/dcef3"]
	path = Submodules/dcef3
	url = git@github.com:CWBudde/dcef3.git
[submodule "Submodules/tango-icon-theme"]
	path = Submodules/tango-icon-theme
	url = git@github.com:stephenc/tango-icon-theme.git
[submodule "Submodules/Graphics32"]
	path = Submodules/Graphics32
	url = git@github.com:graphics32/graphics32.git
[submodule "Binaries/Common/Projects"]
	path = Binaries/Common/Projects
	url = git@github.com:Walibeiro/Hope-Projects.git
[submodule "Binaries/Common/Welcome Page"]
	path = Binaries/Common/Welcome Page
	url = git@github.com:Walibeiro/Hope-Elcome.git
